@use '../../../../app/styles/mixins/mixins.scss' as mixins;

.formProfile {
  width: 100%;
  max-width: 510px;

  & > fieldset ul  {
    @include mixins.flexPosition(column, initial, initial, 10px);
    
    & > li:not(:last-child) {
      border-bottom: var(--border-primary);
    }
  }

  .controls {
    @include mixins.flexPosition(column, center, center, 14px);

    margin-top: auto;
  }
}
