.dark {
  --bg-primary: #FFFFFF;
  --bg-secondary: #FBFBFB;
  --bg-tertiary: #EFEFEF;
  --bg-accent: #E4EDFD;

  /* Фон сообщений собеседника */
  --bg-message: #F8F8F8;

  /* Фон кнопок */
  --bg-button: #3369F3;

  /* Текст */
  --text-primary: #1E1E1E;
  --text-secondary: #999999;
  --text-tertiary: #FFFFFF;
  --text-accent: #3369F3;
  --text-error: #FF0000;

  /* Иконки */
  --icon-primary: #1E1E1E;
  --icon-secondary: #999999;

  --color-accent: #3369F3;

  --border-primary: 1px solid #EAEAEA;
}
